<h1>Mis ofertas</h1>

<table class="table">
    <tr>
      <th>Motivo</th>
      <th>      </th>
      <th>Monto</th>
    </tr>

  <tbody>
    <% @oferta.each do |o| %>
      <tr>
        <td><%= o.motivo %></td>
        <td>      </td>
        <td><%= o.monto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

